@{
    ViewBag.Title = "Información adicional";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Esta es una página creada en el año 2026 utilizada para fichar nuevos talentos o aplicar a equipos de Esports.</p>
    <div style="margin-top:10px;">
        <a href="/vlr/Index" class="btn btn-success btn-lg">
            Ver jugadores registrados
        </a>
</main>