@{
    ViewBag.Title = "Información de contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <div style="margin-top:10px;">
        <a href="/vlr/Index" class="btn btn-success btn-lg">
            Ver jugadores registrados
        </a>

        <address>
            Hans INC.<br />
            Rep DOM AS1<br />
            <abbr title="Phone"> P:</abbr>
            849.400.000
        </address>

        <!-- <address>
     <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
     <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>-->
</main>