@{
    ViewBag.Title = "Home Page";
}

<main>

    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Promesas</h1>
        <p class="lead">Esta es una página dedica a las promesas que van ascendiendo del tier 3 que se han ganado su lugar en la comunidad.</p>
        <!--<p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>-->
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Promesas</h2>
            <p>
                Preparate para ver las promesas que aspiran a la liga competitiva oficial de Valorant.
            </p>
            <!-- <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Jugadores de liga</h2>
            <p>También encontrarás perfiles de jugadores ya consolidados dentro de la liga de Valorant, conocer sus estadísticas, earnings y demás</p>
            <!-- <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Equipos</h2>
            <p>¡También encontrarás una gran variedad de equipos para que puedas enviar tu aplicación!</p>
            <!-- <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
        </section>

    </div>
    <div style="margin-top:10px;">
        <a href="/vlr/Index" class="btn btn-success btn-lg">
            Ver jugadores registrados
        </a>
    </div>
</main>
